body {
	padding: 0;
	text-align: center;
	background: rgb(174,227,238);
	background: radial-gradient(circle, rgba(174,227,238,1) 0%, rgba(148,233,191,1) 100%);
	color: black;
}

.container {
  background-color: white;
  color: black;
  border: none;
  border-radius: 12px;
  padding: 8px;
  min-width: min-content;
  max-width: 350px;
  min-height: 200px;
  margin: auto;
  text-align: left;
  margin-top: 15%;
}

label {
  font-size: x-large;
}

input {
  min-width: 350px;
  border: none;
  border-radius: 12px;
  font-size: medium;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: x-large;
} 

.caixa {
  border-radius: 12px;
  border: 2px black solid;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 6px;
}

button {
  background-color: black;
  color: white;
  border: 1px white solid;
  border-radius: 12px;
  min-width: 370px;
  font-size: x-large;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px black solid;
  border-radius: 12px;
  cursor: pointer;
}